---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: helm_local/charts/hello-world-0.1.0/

helmCharts:
  - name: hello-world
    namespace: {{ namespace }}
    releaseName: hello-world
    version: {{ version }}
    valuesInLine: {}
