apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: hello-world
    namespace: {{ namespace }}
    releaseName: hello-world
    repo: https://helm.github.io/examples
    version: {{ version }}
    valuesInLine: {}
