kind: ConfigMap
apiVersion: v1
metadata:
  name: alertmanager
  namespace: {{ monitoring.namespace }}
data:
  config.yml: |-
{%- filter indent(width=4) %}
{% rawinclude 'files/alertmanager-config.yml' %}
{% endfilter %}
