apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards
  namespace: {{ monitoring.namespace }}
data:
{%- filter indent(width=2) %}
{% rawinclude_map 'files/dashboards/' %}
{% endfilter %}
