---
kind: ConfigMap
apiVersion: v1
metadata:
  name: prometheus-config
  namespace: {{ monitoring.namespace }}
data:
  prometheus.yml: |-
{%- filter indent(width=4) %}
{% include 'files/prometheus.yml.j2' %}
{% endfilter %}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: prometheus-rules
  namespace: {{ monitoring.namespace }}
data:
  default.yml: |-
{%- filter indent(width=4) %}
{% rawinclude 'files/default.yml' %}
{% endfilter %}
