---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: prometheus-node-exporter
    namespace: {{ monitoring.namespace }}
    releaseName: prometheus-node-exporter
    repo: oci://ghcr.io/prometheus-community/charts
    version: {{ monitoring.node_exporter_version }}
    valuesInLine:
      nameOverride: node-exporter
      fullnameOverride: node-exporter
