# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Test

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  flake8:
    name: Run flake8
    runs-on: home-use

    steps:
    - uses: actions/checkout@v4
    - if: ${{ runner.arch == 'arm64' }}
      name: Set up Python
      uses: deadsnakes/action@v3.1.0
      with:
        python-version: "3.11"
    - if: ${{ runner.arch == 'amd64' }}
      name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 make_argocd_fly --count --select=E9,F63,F7,F82 --show-source --extend-exclude=".venv,.vscode,.pytest_cache,.github,dist" --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 make_argocd_fly --count --indent-size=2 --max-complexity=10 --max-line-length=150 --extend-exclude=".venv,.vscode,.pytest_cache,.github,dist" --statistics

  pytest:
    name: Run pytest
    runs-on: home-use

    steps:
    - uses: actions/checkout@v4
    - if: ${{ runner.arch == 'arm64' }}
      name: Set up Python
      uses: deadsnakes/action@v3.1.0
      with:
        python-version: "3.11"
    - if: ${{ runner.arch == 'amd64' }}
      name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test with pytest
      run: |
        pytest
