---
kind: ConfigMap
apiVersion: v1
metadata:
  name: prometheus-config
data:
  prometheus.yml: |-
{%- filter indent(width=4) %}
{% include 'app_5/files/file.json.j2' %}
{% endfilter %}

  ip: {{ 'localhost' | dig }}
